@import url(reset.css);
@import url(main.css);
@import url(sub1.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Lilita One', cursive; */
