



@media screen and (max-width: 736px) {
  #body_main section.container{max-width: 350px;}
  #body_main div.button_join{font-size: 50px;}
  #body_main h1.mains{font-size: 70px;}
  #body_main h1.mains>span.title_main{font-size: 70px;}
}
@media screen and (max-width: 480px) {
  #body_main section.container{max-width: 180px;}
  #body_main div.button_join{font-size: 30px;}
  #body_main h1.mains{font-size: 20px;}
  #body_main h1.mains>span.title_main{font-size: 50px;}
}
@media screen and (max-width: 360px) {
  #body_main section.container{max-width: 150px;}
  #body_main div.button_join{font-size: 20px;}
  #body_main h1.mains{font-size: 20px;}
  #body_main h1.mains>span.title_main{font-size: 30px;}
}


.container {transform: translate(-50%, -50%); top: 50%; left: 50%;display: block; position: absolute; max-width: 370px;}

.button_join {float: left; position: relative; bottom: -65px; left: 50%; transform: translateX(-50%) rotate(-10deg); color: #e55643; text-transform: uppercase; opacity: 0;
  visibility: hidden; cursor: pointer; outline: none; border: none; font-size: 45px; color: #fff;}
.button_join span {font-family: 'Lilita One', cursive;transform: skew(-10deg); display: block; float: left; text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;}

h1 { color: #fff; text-transform: uppercase; font-size: 52px; margin: 0; line-height: 47px; letter-spacing: 2px;}

.title_main { font-family: 'Lilita One', cursive;transform: translateX(-50%) rotate(-10deg);  display: block; float: left; left: 50%; position: relative; font-size: 104px;}
.title_main span { transform: skew(-10deg); display: block; float: left; text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px; min-width: 10px; min-height: 10px; position: relative;}

.title_main:nth-child(1) {color: #ff4894;}
.title_main:nth-child(2) {color: #1d976f;}
.title_main:nth-child(3) {color: #d0f13c;}

.fontsize{position: absolute;left: 50%;bottom: -50%;font-size: 0.8em;transform: translateX(-50%);opacity: 0.4;width: 350px;text-align: center;}