html, body, div, span, applet, object,iframe, h1, h2, h3, h4, h5, h6, p, blockquote,pre, a, abbr, acronym, address, big, cite,code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b,u, i, center, dl, dt, dd, ol, ul, li, fieldset,form, label, legend, table, caption, tbody,tfoot, thead, tr, th, td, article, aside,canvas, details, embed, figure, figcaption,footer, header, hgroup, menu, nav, output, ruby,section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}
body{font-family: 'Noto Sans JP','Noto Sans KR',sans-serif !important;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
body {-webkit-text-size-adjust: none;}
mark {background-color: transparent;color: inherit;}
input::-moz-focus-inner {border: 0;padding: 0;}
input, select, textarea {appearance: none;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body {background-color: #935d8c;background-image: url("../images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);}
body.is-preload *, body.is-preload *:before, body.is-preload *:after {animation: none !important;transition: none !important;}
a {transition: color 0.2s ease, border-bottom 0.2s ease;text-decoration: none;border-bottom: dotted 1px;color: inherit;}
a:hover {border-bottom-color: transparent;}
strong, b {font-weight: 400;}
em, i {font-style: italic;}
p {margin: 0 0 2em 0;}
p.content {columns: 20em 2;column-gap: 2em;text-align: justify;}
h1, h2, h3, h4, h5, h6 {font-weight: 300;line-height: 1.5;margin: 0 0 0.7em 0;letter-spacing: -0.025em;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: inherit;text-decoration: none;}
h1 {font-size: 2.5em;line-height: 1.2;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1.1em;}
h5 {font-size: 0.9em;}
h6 {font-size: 0.7em;}

sub {font-size: 0.8em;position: relative;top: 0.5em;}

sup {font-size: 0.8em;position: relative;top: -0.5em;}

blockquote {border-left: solid 4px;font-style: italic;margin: 0 0 2em 0;padding: 0.5em 0 0.5em 2em;}

code {border-radius: 8px;border: solid 1px;font-family:  'Noto Sans JP','Noto Sans KR',sans-serif;font-size: 0.9em;margin: 0 0.25em;padding: 0.25em 0.65em;}

pre {-webkit-overflow-scrolling: touch;font-family:  'Noto Sans JP','Noto Sans KR',sans-serif;font-size: 0.9em;margin: 0 0 2em 0;}
pre code {display: block;line-height: 1.75;padding: 1em 1.5em;overflow-x: auto;}
hr {border: 0;border-bottom: solid 1px;margin: 2em 0;}
hr.major {margin: 3em 0;}
.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}
input, select, textarea {color: #fff;}
a:hover {color: #fff;}
strong, b {color: #fff;}
h1, h2, h3, h4, h5, h6 {color: #fff;}
blockquote {border-left-color: rgba(255, 255, 255, 0.35);}
code {background: rgba(255, 255, 255, 0.075);border-color: rgba(255, 255, 255, 0.35);}
hr {border-bottom-color: rgba(255, 255, 255, 0.35);}
/* Type */

body {background-color: #935d8c;color: rgba(255, 255, 255, 0.65);}

body, input, select, textarea {font-size: 17pt;font-weight: 300;line-height: 1.65;}


/* wrap */
#wrap{width: 64em; max-width: calc(100% - 4em);	margin: 0 auto;}

/* footer */
#footer{display: flex; flex-wrap: wrap;padding: 5em 5em 3em 5em; width: calc(100% + 2em); margin: 0 0 3em -2em;}
#footer >*{width: calc(50% - 2em); margin-left: 2em;}
#footer .copyright {width: 100%; margin: 2.5em 0 2em 0; font-size: 0.8em; text-align: center;}

#footer button.topbtn{position: fixed;right: 8vw; bottom: 2vw; width: auto; height: 50px; margin: 0;padding: 0;min-width: 50px;border-radius: 50%;opacity: 0; transition: all 0.3s ease 0s;}
#footer .topbtn>i{padding: 10px;font-size: 1.5em;text-align: center;}

#footer .topbtn.on{position: fixed;right: 8vw; bottom: 2vw; width: auto; height: 50px; margin: 0;padding: 0;min-width: 50px;border-radius: 50%;opacity: 1;}

/* main */
#main{background-color: #fff; color: #636363; border-radius: 0.25em;}
#main input, select, #main textarea, #main a:hover, #main strong, #main b, #main h1, #main h2, #main h3, #main, h4, #main h5, #main h6{color: #636363;}
#main blockquote{border-left-color: #ddd;}
#main code{background: rgba(222, 222, 222, 0.25); border-color: #ddd;}
#main hr{border-bottom-color: #ddd;}
#main .box{border-color: #ddd;}

#main input[type="submit"],#main input[type="reset"],#main input[type="button"],#main button, #main .button{background-color: transparent; box-shadow: inset 0 0 0 1px #ddd; color: #636363 !important;}

#main input[type="submit"]:hover,#main input[type="reset"]:hover,#main input[type="button"]:hover,#main button:hover,#main .button:hover{background-color: rgba(222, 222, 222, 0.25);}

#main input[type="submit"]:active,#main input[type="reset"]:active,#main input[type="button"]:active,#main button:active,#main .button:active{background-color: rgba(222, 222, 222, 0.5);}

#main input[type="submit"].icon:before,#main input[type="reset"].icon:before,#main input[type="button"].icon:before,#main button.icon:before,#main .button.icon:before{color: rgba(99, 99, 99, 0.25);}

#main input[type="submit"].primary,#main input[type="reset"].primary,#main input[type="button"].primary,#main button.primary,#main .button.primary{background-color: #8cc9f0;color: #ffffff !important;	box-shadow: none;}

#main input[type="submit"].primary:hover,#main input[type="reset"].primary:hover,#main input[type="button"].primary:hover,#main button.primary:hover,#main .button.primary:hover{	background-color: #9acff2;}

#main input[type="submit"].primary:active,#main input[type="reset"].primary:active,#main input[type="button"].primary:active,#main button.primary:active,#main .button.primary:active{background-color: #7ec3ee;}

#main input[type="submit"].primary.icon:before,#main input[type="reset"].primary.icon:before,#main input[type="button"].primary.icon:before,#main button.primary.icon:before,#main .button.primary.icon:before{color: #ffffff !important;}

#main label{color: #636363;}

#main input[type="text"],#main input[type="password"],#main input[type="email"],#main select,#main textarea{background-color: rgba(222, 222, 222, 0.25);border-color: #dddddd;}

#main input[type="text"]:focus,#main input[type="password"]:focus,#main input[type="email"]:focus,#main select:focus,#main textarea:focus{border-color: #8cc9f0;
	box-shadow: 0 0 0 1px #8cc9f0;}

#main select {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dddddd' /%3E%3C/svg%3E");}

#main select option{color: #636363;background: #ffffff;}

#main input[type="checkbox"] + label,#main input[type="radio"] + label {color: #636363;}

#main input[type="checkbox"] + label:before,#main input[type="radio"] + label:before {	background: rgba(222, 222, 222, 0.25);	border-color: #dddddd;}

#main input[type="checkbox"]:checked + label:before,#main input[type="radio"]:checked + label:before {background-color: #636363;border-color: #636363;color: #ffffff;}

#main input[type="checkbox"]:focus + label:before,#main input[type="radio"]:focus + label:before{border-color: #8cc9f0;box-shadow: 0 0 0 1px #8cc9f0;}

#main .icon.major {	border-color: #dddddd; background-color: #fff;}
#main .icon.major:before {border-color: #dddddd;}
#main .icon.alt {	border-color: #dddddd;	color: #636363;}
#main .icon.alt:hover {background-color: rgba(222, 222, 222, 0.25);}
#main .icon.alt:active {background-color: rgba(222, 222, 222, 0.5);}
#main ul.alt li {border-top-color: #dddddd;}

#main dl dt {color: #636363;}

#main header.major h2:after {background-color: #dddddd;background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);}

/* .main */
#main > .main {padding: 5em 5em 3em 5em ;border-top: solid 1px #dddddd;}
#main > .main:first-child {border-top: 0;}

#main > .main > .image.main:first-child {margin: -5em 0 5em -5em;width: calc(100% + 10em);border-top-right-radius: 0.25em;border-top-left-radius: 0.25em;	border-bottom-right-radius: 0;border-bottom-left-radius: 0;}

#main > .main > .image.main:first-child img {	border-top-right-radius: 0.25em;border-top-left-radius: 0.25em;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}

/* nav */
#nav {transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;	background-color: #ffffff; color: #636363;position: absolute;width: 64em;max-width: calc(100% - 4em);padding: 1em;	background-color: #f7f7f7;	border-top-left-radius: 0.25em;	border-top-right-radius: 0.25em;cursor: default;text-align: center;}

#nav input, #nav select, #nav textarea {color: #636363;}
#nav a:hover {color: #636363;}
#nav strong, #nav b {color: #636363;}
#nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {color: #636363;}
#nav blockquote {border-left-color: #dddddd;}
#nav code {background: rgba(222, 222, 222, 0.25);border-color: #dddddd;	}
#nav hr {border-bottom-color: #dddddd;}
#nav + #main {padding-top: 4.25em;}
#nav ul {margin: 0;padding: 0;list-style: none;}
#nav ul li {transition: margin 0.2s ease;	display: inline-block;margin: 0 0.35em;	padding: 0;	vertical-align: middle;}

#nav ul li a {transition: font-size 0.2s ease;display: inline-block;height: 2.25em;	line-height: 2.25em;padding: 0 1.25em;border: 0;border-radius: 8px;	box-shadow: inset 0 0 0 1px transparent;}
#nav ul li a:hover{background-color: rgba(222, 222, 222, 0.25);}
#nav ul li a.active {background-color: #ffffff;box-shadow: none;}
#nav.alt {position: fixed;top: 0;padding: 0.5em 1em;background-color: rgba(247, 247, 247, 0.95);border-top-left-radius: 0;	border-top-right-radius: 0;z-index: 10000;}
#nav.alt ul li {margin: 0 0.175em;}
#nav.alt ul li a {font-size: 0.9em;}

/* header */

#header {padding: 5em 5em 1em 5em ;text-align: center;}
#header h1 {margin: 0 0 0.25em 0;}
#header p {font-size: 1.25em;letter-spacing: -0.025em;}
#header.alt {padding: 7em 5em 4em 5em ;}
#header.alt h1 {font-size: 3.25em;}
#header.alt > * {transition: opacity 3s ease;transition-delay: 0.5s;opacity: 1;}
#header.alt .logo {transition: opacity 1.25s ease, transform 0.5s ease;transition-delay: 0s;display: block;	margin: 0 0 1.5em 0;}
#header.alt .logo img {	display: block;margin: 0 auto;max-width: 20%;}
body.is-preload #header.alt > * {opacity: 0;}
body.is-preload #header.alt .logo {transform: scale(0.8) rotate(-30deg);}

/* spotlight */
.spotlight {display: flex;align-items: center;margin: 0 0 2em 0;}
.spotlight .content {flex: 1;}
.spotlight .content > :last-child {margin-bottom: 0;}
.spotlight .content header.major {margin: 0 0 2em 0;}

.spotlight .image {display: inline-block;margin-left: 4em;padding: 0.65em;border-radius: 100%;border: solid 1px;}

.spotlight .image img {display: block;border-radius: 100%;width: 15em;}

.spotlight .image {border-color: rgba(255, 255, 255, 0.35);}

/* Statistics */

.statistics {display: flex;width: 100%;margin: 0 0 3em 0;padding: 0;list-style: none;cursor: default;}

.statistics li {-moz-flex: 1;flex: 1;padding: 1.5em;color: #ffffff;text-align: center;}

.statistics li.style1 {background-color: #efa8b0;}
.statistics li.style2 {background-color: #c79cc8;}
.statistics li.style3 {background-color: #a89cc8;}
.statistics li.style4 {background-color: #9bb2e1;}
.statistics li.style5 {background-color: #8cc9f0;}

.statistics li strong, .statistics li b {display: block;font-size: 1em;line-height: 1.5;color: inherit !important;font-weight: bold;letter-spacing: -0.025em;}

.statistics li>a{font-size: 0.8em;}


.statistics li:first-child {border-top-left-radius: 8px;border-bottom-left-radius: 8px;}
.statistics li:last-child {border-top-right-radius: 8px;border-bottom-right-radius: 8px;}
.statistics li .icon {display: inline-block;}
.statistics li .icon:before {font-size: 2.75rem;line-height: 1.3;}


/* 포트폴리오 */

.statistics li .portfolio_wrap{position: fixed;display: none;z-index: 10000; width: 100%;height: 100vh;background: rgba(222, 222, 222, 0.8); left: 0;top: 0;}
.statistics li .portfolio_wrap h3{z-index: 10002;position:absolute;font-size: 1.5em;line-height: 6;font-weight: bold;width: 100%;margin: 4vh auto 0;}

.statistics li .portfolio_wrap .portfolio_inner{position: absolute;width: 80vw;height: 90vh;left: 50%; top: 50%;transform: translate(-50%, -50%);padding:0 5.1vw;background: #fff; text-align: center;display: flex; flex-direction: row;justify-content: center;align-items: center; border-radius: 20px;box-shadow: 3px 3px 8px rgba(222, 222, 222, 0.9);}

.statistics li .portfolio_wrap .portfolio_inner video{width: 70%;display: inline-block;margin-right: 5vw;}
.statistics li .portfolio_wrap .portfolio_inner .inner_right{display: flex;flex-direction: column;margin-right: 5vw;justify-content: space-around; align-items: center;height: 35%;}



#portfolio .inner_right>.inner_tag>span{display: inline-block; padding: 0.52vw 1.04vh;border-radius: 10px; color: #fff; font-size: 0.8em;}
.inner_right>.inner_tag>span:nth-child(1){background: #efa8b0;}
.inner_right>.inner_tag>span:nth-child(2){background: #8cc9f0;}
.inner_right>.inner_tag>span:nth-child(3){background: #a89cc8;}
.inner_right>.inner_tag>span:nth-child(4){background: #e37682;}
.inner_right>.inner_tag>span:nth-child(5){background: #9bb2e1;}
.inner_right>.inner_tag>span:nth-child(6){background: #c79cc8;}

.statistics li .portfolio_wrap .portfolio_inner p, .statistics li .portfolio_wrap .portfolio_inner em,.statistics li .portfolio_wrap .portfolio_inner span{color: #636363; margin: 0;font-style: normal;}

.portfolio_wrap>a.inner_close{z-index: 10002;position: fixed;right: 15vw;top:10vh;color: #636363;text-decoration: none;font-weight: bold;cursor: pointer;}

#portfolio .portfolio_inner button.inner_git,#portfolio .portfolio_inner button.inner_link{font-size: 0.8em;border-radius: 20px;}

/* Features */
.features {display: flex;flex-wrap: wrap;justify-content: center;width: calc(100% + 2em);margin: 0 0 3em -2em;padding: 0;list-style: none;}
.features li {position: relative;width: calc(33.33333% - 2em);margin-left: 2em;margin: 3em 0;padding: 0;}

.features li>p{padding: 0 2vw;}

.features li:nth-child(1), .features li:nth-child(2), .features li:nth-child(3),.features li:nth-child(4),.features li:nth-child(5),.features li:nth-child(6),.features li:nth-child(7),.features li:nth-child(8),.features li:nth-child(9) {margin-top: 0;}
.features li > :last-child {margin-bottom: 0;}

#skill .features li>span.icon.major{position:relative;z-index: 20;width: 150px;height:150px;padding: 0.52vw;box-sizing: border-box;cursor: pointer; background: #fff;}
#tool .features li>span{position:relative;z-index: 20;width: 150px;height:150px;padding: 0.52vw;box-sizing: border-box;cursor: pointer;}

#skill .features li>span.icon.major::before{content: '';display:inline-block;position:absolute;background: #fff;width: 100%;height: 100%;border: none;left: 0;top: 0;}

#skill>.features li:first-child>span.icon.major::before{background: url(../images/logo1.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(2)>span.icon.major::before{background: url(../images/logo2.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(3)>span.icon.major::before{background: url(../images/logo3.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(4)>span.icon.major::before{background: url(../images/logo4.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(5)>span.icon.major::before{background: url(../images/logo5.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(6)>span.icon.major::before{background: url(../images/logo6.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(7)>span.icon.major::before{background: url(../images/logo7.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(8)>span.icon.major::before{background: url(../images/logo8.png) no-repeat 50% 50%;background-size: 60%;}
#skill>.features li:nth-child(9)>span.icon.major::before{background: url(../images/logo9.png) no-repeat 50% 50%;background-size: 60%;}

/* .features li>span>img{position: absolute;left:50%; top: 50%; height: 8.03vh;transform: translate(-50%, -50%);}  */

/* 차트 */
.chart {position: absolute;display: inline-block;color: #999;font-size: 20px;text-align: center;left: 25%;top: -4.7%;transform: translateX(-50%);transition: all 0.3s;}


.chart svg {position: absolute; top: 0; left: 0; transition: all 0.5s;}

.outer.on {fill: transparent; stroke-width: 20;stroke-dasharray: 534;
  transition: all 0.5s; opacity: 1;  -webkit-animation-play-state: running;}
.outer{background-color: #f7f7f7;opacity: 0;stroke-width: 0; transition: all 1s;}

/* 색지정 */
#skill>.features>li:nth-child(1)>figure>svg>circle.outer.on{stroke: #e34f26;}
#skill>.features>li:nth-child(2)>figure>svg>circle.outer.on{stroke: #1572b6;}
#skill>.features>li:nth-child(3)>figure>svg>circle.outer.on{stroke: #f7df1e;}
#skill>.features>li:nth-child(4)>figure>svg>circle.outer.on{stroke: #00d8ff;}
#skill>.features>li:nth-child(5)>figure>svg>circle.outer.on{stroke: #cd6799;}
#skill>.features>li:nth-child(6)>figure>svg>circle.outer.on{stroke: #f6820c;}
#skill>.features>li:nth-child(7)>figure>svg>circle.outer.on{stroke: #3178c6;}
#skill>.features>li:nth-child(8)>figure>svg>circle.outer.on{stroke: #d92a2b;}
#skill>.features>li:nth-child(9)>figure>svg>circle.outer.on{stroke: #6db33f;}


#tool>.features>li:nth-child(1)>figure>svg>circle.outer.on{stroke: #1f9cf0;}
#tool>.features>li:nth-child(2)>figure>svg>circle.outer.on{stroke: #a259ff;}
#tool>.features>li:nth-child(3)>figure>svg>circle.outer.on{stroke: #ecb22e;}
#tool>.features>li:nth-child(4)>figure>svg>circle.outer.on{stroke: #000000;}
#tool>.features>li:nth-child(5)>figure>svg>circle.outer.on{stroke: #31a8ff;}
#tool>.features>li:nth-child(6)>figure>svg>circle.outer.on{stroke: #ff9a00;}




/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  animation: show25 2s;
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */

#tool>.features li:first-child>span.icon.major::before{background: url(../images/logo10.png) no-repeat 50% 50%;background-size: 60%;}
#tool>.features li:nth-child(2)>span.icon.major::before{background: url(../images/logo11.png) no-repeat 50% 50%;background-size: 40%;}
#tool>.features li:nth-child(3)>span.icon.major::before{background: url(../images/logo12.png) no-repeat 50% 50%;background-size: 60%;}
#tool>.features li:nth-child(4)>span.icon.major::before{background: url(../images/logo13.png) no-repeat 50% 50%;background-size: 60%;}
#tool>.features li:nth-child(5)>span.icon.major::before{background: url(../images/logo14.png) no-repeat 50% 50%;background-size: 60%;}
#tool>.features li:nth-child(6)>span.icon.major::before{background: url(../images/logo15.png) no-repeat 50% 50%;background-size: 60%;}

#tool .features li>span.icon.major::before{content: '';display:inline-block;position:absolute;background: #fff;width: 100%;height: 100%;border: none;left: 0;top: 0;}


/* Table */

.table-wrapper {-webkit-overflow-scrolling: touch;overflow-x: auto;}

table {margin: 0 0 2em 0;width: 100%;}

table tbody tr {border: solid 1px;border-left: 0;border-right: 0;}

table td {padding: 0.75em 0.75em;}

table th {font-size: 0.9em;font-weight: 400;padding: 0 0.75em 0.75em 0.75em;text-align: left;}

table thead {border-bottom: solid 2px;}
table tfoot {border-top: solid 2px;}
table.alt {border-collapse: separate;}
table.alt tbody tr td {border: solid 1px;border-left-width: 0;border-top-width: 0;}
table.alt tbody tr td:first-child {border-left-width: 1px;}
table.alt tbody tr:first-child td {border-top-width: 1px;}
table.alt thead {border-bottom: 0;}
table.alt tfoot {border-top: 0;}
table tbody tr {border-color: rgba(255, 255, 255, 0.35);}
table tbody tr:nth-child(2n + 1) {background-color: rgba(255, 255, 255, 0.075);}
table th {color: #ffffff;}
table thead {border-bottom-color: rgba(255, 255, 255, 0.35);}
table tfoot {border-top-color: rgba(255, 255, 255, 0.35);}
table.alt tbody tr td {border-color: rgba(255, 255, 255, 0.35);}


/* Section/Article */

section.special, article.special {text-align: center;}
header.major {margin-bottom: 3em;}
header.major h2 {font-size: 2em;}
header.major h2:after {display: block;content: '';width: 3.25em;height: 2px;margin: 0.7em 0 1em 0;border-radius: 2px;}
section.special header.major h2:after, article.special header.major h2:after {margin-left: auto;margin-right: auto;}
header.major p {font-size: 1.25em;letter-spacing: -0.025em;}
header.major.special {text-align: center;}
header.major.special h2:after {margin-left: auto;margin-right: auto;}
footer.major {margin-top: 3em;}

header.major h2:after {background-color: rgba(255, 255, 255, 0.35);}

/* Icons */

ul.icons {cursor: default;list-style: none;padding-left: 0;}
ul.icons li {display: inline-block;padding: 0 0.65em 0 0;}
ul.icons li:last-child {padding-right: 0 !important;}


/* Actions */

ul.actions {display: flex;cursor: default;list-style: none;margin-left: -1em;padding-left: 0;}
ul.actions li {padding: 0 0 0 1em;vertical-align: middle;}
ul.actions.special {justify-content: center;width: 100%;margin-left: 0;}
ul.actions.special li:first-child {padding-left: 0;}
ul.actions.stacked {flex-direction: column;margin-left: 0;}
ul.actions.stacked li {padding: 1.3em 0 0 0;}
ul.actions.stacked li:first-child {padding-top: 0;}
ul.actions.fit {width: calc(100% + 1em);}
ul.actions.fit li {flex-grow: 1;flex-shrink: 1;width: 100%;}
ul.actions.fit li > * {width: 100%;}
ul.actions.fit.stacked {width: 100%;}

/* List */

ol {list-style: decimal;margin: 0 0 2em 0;padding-left: 1.25em;}
ol li {padding-left: 0.25em;}
ul {list-style: disc;margin: 0 0 2em 0;padding-left: 1em;}
ul li {padding-left: 0.5em;}
ul.alt {list-style: none;padding-left: 0;}
ul.alt li {border-top: solid 1px;padding: 0.5em 0;}
ul.alt li:first-child {border-top: 0;padding-top: 0;}
dl {margin: 0 0 2em 0;}
dl dt {display: block;font-weight: 400;margin: 0 0 1em 0;}
dl dd {margin-left: 2em;}
dl.alt dt {display: block;width: 3em;margin: 0;clear: left;float: left;}
dl.alt dd {margin: 0 0 0.85em 5.5em;}
dl.alt:after {content: '';display: block;clear: both;}
ul.alt li {border-top-color: rgba(255, 255, 255, 0.35);}
dl dt {color: #fff;}

/* Image */

.image {border-radius: 8px;border: 0;display: inline-block;position: relative;}
.image img {border-radius: 8px;display: block;}
.image.left, .image.right {max-width: 40%;}
.image.left img, .image.right img {width: 100%;}
.image.left {float: left;margin: 0 1.5em 1em 0;top: 0.25em;}
.image.right {float: right;margin: 0 0 1em 1.5em;top: 0.25em;}
.image.fit {display: block;margin: 0 0 2em 0;width: 100%;}
.image.fit img {width: 100%;}
.image.main {display: block;margin: 0 0 3em 0;width: 100%;}
.image.main img {width: 100%;}

/* Icon */

.icon {text-decoration: none;transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;border-bottom: none;position: relative;}

.icon:before {-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;line-height: 1;text-transform: none !important;font-weight: 400;}
.icon > .label {display: none;}
.icon:before {line-height: solid;}
.icon.solid:before {font-weight: 900;}
.icon.major {border: solid 1px;display: inline-block;border-radius: 100%;padding: 0.65em;
margin: 0 0 1.5em 0;cursor: default;}
.icon.major:before {display: inline-block;font-size: 6.25rem;width: 2.25em;height: 2.25em;line-height: 2.2em;border-radius: 100%;border: solid 1px;text-align: center;}
.icon.alt {display: inline-block;border: solid 1px;border-radius: 100%;}
.icon.alt:before {display: block;font-size: 1.25em;width: 2em;height: 2em;text-align: center;line-height: 2em;}

.icon.style1 {color: #efa8b0;}
.icon.style2 {color: #c79cc8;}
.icon.style3 {color: #a89cc8;}
.icon.style4 {color: #9bb2e1;}
.icon.style5 {color: #8cc9f0;}

.icon.major {border-color: rgba(255, 255, 255, 0.35);}
.icon.major:before {border-color: rgba(255, 255, 255, 0.35);}
.icon.alt {border-color: rgba(255, 255, 255, 0.35);color: #ffffff;}
.icon.alt:hover {	background-color: rgba(255, 255, 255, 0.075);}
.icon.alt:active {background-color: rgba(255, 255, 255, 0.2);}

/* Form */

form {margin: 0 0 2em 0;}
label {display: block;font-size: 0.9em;font-weight: 400;margin: 0 0 1em 0;}

input[type="text"],input[type="password"],input[type="email"],select,textarea {appearance: none;border-radius: 8px;border: solid 1px;color: inherit;display: block;outline: 0;padding: 0 1em;text-decoration: none;width: 100%;}

input[type="text"]:invalid,input[type="password"]:invalid,input[type="email"]:invalid,select:invalid,textarea:invalid {box-shadow: none;}

select {background-size: 1.25rem;background-repeat: no-repeat;background-position: calc(100% - 1rem) center;height: 2.75em;padding-right: 2.75em;text-overflow: ellipsis;}
select:focus::-ms-value {background-color: transparent;}
select::-ms-expand {display: none;}
input[type="text"],input[type="password"],input[type="email"],select {height: 2.75em;}
textarea {padding: 0.75em 1em;}
input[type="checkbox"],input[type="radio"] {appearance: none;display: block;float: left;
margin-right: -2em;	opacity: 0;	width: 1em;	z-index: -1;}
input[type="checkbox"] + label,	input[type="radio"] + label {text-decoration: none;cursor: pointer;display: inline-block;font-size: 1em;font-weight: 300;padding-left: 2.4em;padding-right: 0.75em;position: relative;}
input[type="checkbox"] + label:before,input[type="radio"] + label:before {		-moz-osx-font-smoothing: grayscale;	-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;	font-variant: normal;text-rendering: auto;		line-height: 1;	text-transform: none !important;font-weight: 900;}
input[type="checkbox"] + label:before,input[type="radio"] + label:before {		border-radius: 8px;border: solid 1px;	content: '';display: inline-block;font-size: 0.8em;	height: 2.0625em;	left: 0;line-height: 2.0625em;position: absolute;		text-align: center;	top: 0;	width: 2.0625em;}
input[type="checkbox"]:checked + label:before,input[type="radio"]:checked + label:before {content: '\f00c';}
input[type="checkbox"] + label:before {border-radius: 8px;}
input[type="radio"] + label:before {border-radius: 100%;}
::-webkit-input-placeholder {opacity: 1.0;}
label {color: #ffffff;}
input[type="text"],input[type="password"],input[type="email"],select,textarea {	background-color: rgba(255, 255, 255, 0.075);border-color: rgba(255, 255, 255, 0.35);}
input[type="text"]:focus,	input[type="password"]:focus,	input[type="email"]:focus,
select:focus,	textarea:focus {border-color: #8cc9f0;box-shadow: 0 0 0 1px #8cc9f0;}
select {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.35)' /%3E%3C/svg%3E");}
select option {color: #ffffff;background: #935d8c;}
input[type="checkbox"] + label,input[type="radio"] + label {	color: rgba(255, 255, 255, 0.65);}
input[type="checkbox"] + label:before,input[type="radio"] + label:before {		background: rgba(255, 255, 255, 0.075);border-color: rgba(255, 255, 255, 0.35);}
input[type="checkbox"]:checked + label:before,input[type="radio"]:checked + label:before {	background-color: #ffffff;	border-color: #ffffff;	color: #935d8c;}
input[type="checkbox"]:focus + label:before,input[type="radio"]:focus + label:before {	border-color: #8cc9f0;	box-shadow: 0 0 0 1px #8cc9f0;}
::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.5) !important;}
.formerize-placeholder {color: rgba(255, 255, 255, 0.5) !important;}

/* Button */

input[type="submit"],input[type="reset"],input[type="button"],button,.button {appearance: none;transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;border-radius: 8px;border: 0;cursor: pointer;display: inline-block;font-weight: 300;height: 2.75em;line-height: 2.75em;min-width: 9.25em;padding: 0 1.5em;text-align: center;text-decoration: none;white-space: nowrap;}
input[type="submit"].icon,input[type="reset"].icon,input[type="button"].icon,button.icon,.button.icon {padding-left: 1.35em;}
input[type="submit"].icon:before,input[type="reset"].icon:before,input[type="button"].icon:before,button.icon:before,.button.icon:before {margin-right: 0.5em;}
input[type="submit"].fit,input[type="reset"].fit,input[type="button"].fit,button.fit,.button.fit {width: 100%;}
input[type="submit"].small,input[type="reset"].small,input[type="button"].small,button.small,.button.small {font-size: 0.8em;}
input[type="submit"].large,input[type="reset"].large,input[type="button"].large,button.large,.button.large {font-size: 1.35em;}
input[type="submit"].disabled, input[type="submit"]:disabled,input[type="reset"].disabled,input[type="reset"]:disabled,input[type="button"].disabled,input[type="button"]:disabled,button.disabled,button:disabled,.button.disabled,.button:disabled {pointer-events: none;opacity: 0.25;}

input[type="submit"],input[type="reset"],input[type="button"],button,.button {
background-color: transparent;box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
color: #ffffff !important;}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,button:hover,.button:hover {background-color: rgba(255, 255, 255, 0.075);}
input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active,button:active,.button:active {background-color: rgba(255, 255, 255, 0.2);}
input[type="submit"].icon:before,input[type="reset"].icon:before,input[type="button"].icon:before,button.icon:before,.button.icon:before {color: rgba(255, 255, 255, 0.5);}
input[type="submit"].primary,input[type="reset"].primary,input[type="button"].primary,button.primary,.button.primary {background-color: #8cc9f0;color: #ffffff !important;box-shadow: none;}
input[type="submit"].primary:hover,input[type="reset"].primary:hover,input[type="button"].primary:hover,button.primary:hover,.button.primary:hover {background-color: #9acff2;}
input[type="submit"].primary:active,input[type="reset"].primary:active,input[type="button"].primary:active,button.primary:active,.button.primary:active {background-color: #7ec3ee;}
input[type="submit"].primary.icon:before,input[type="reset"].primary.icon:before,input[type="button"].primary.icon:before,button.primary.icon:before,.button.primary.icon:before {color: #ffffff !important;}

/* Box */

.box {border-radius: 8px;border: solid;margin-bottom: 2em;padding: 1.5em;}
.box > :last-child,.box > :last-child > :last-child,.box > :last-child > :last-child > :last-child {margin-bottom: 0;}
.box.alt {border: 0;border-radius: 0;padding: 0;}
.box {border-color: rgba(255, 255, 255, 0.35);}


@media screen and (max-width: 1680px) {

	body, input, select, textarea {font-size: 14pt;}

	.icon.major:before {font-size: 5.5rem;}

	/* 차트 */
	.chart {position: absolute;display: inline-block;color: #999;font-size: 20px;text-align: center;left: 20%;top: -5.5%;transform: translateX(-50%);}

	.chart svg {position: absolute; top: 50%; left: 50%;display: inline-block;width: 200px;height: 200px;}

	.outer.on {display: block;fill: transparent; stroke-width: 20;stroke-dasharray: 534;
		transition: stroke-dashoffset 1s; }
	.outer{background-color: #f7f7f7; display: none;}

}
@media screen and (max-width: 1280px) {

	body, input, select, textarea {font-size: 12pt;}

	#footer{padding: 4em 4em 2em 4em;}
	#main > .main {padding: 4em 4em 2em 4em ;}
	#main > .main > .image.main:first-child {margin: -4em 0 4em -4em;width: calc(100% + 8em);}
	#header {padding: 4em 4em 0.1em 4em ;}
	#header.alt {padding: 6em 4em 3em 4em ;}
	.icon.major:before {font-size: 4.75rem;}

	
	/* 차트 */
	.chart {position: absolute;display: inline-block;color: #999;font-size: 20px;text-align: center;left: 15.5%;top: -6%;transform: translateX(-50%);}

	.chart svg {position: absolute; top: 50%; left: 50%;display: inline-block;width: 200px;height: 200px;}

	.outer.on {display: block;fill: transparent; stroke-width: 20;stroke-dasharray: 534;
		transition: stroke-dashoffset 1s; }
	.outer{background-color: #f7f7f7; display: none;}
}
@media screen and (max-width: 980px) {
	#footer{padding: 4em 3em 2em 3em; display: block; margin: 0 0 3em 0;width: 100%;}
	#footer > *{width: 100%; margin-left: 0;	margin-bottom: 3em;}
	#footer .copyright{text-align: left;}
	#main > .main {padding: 4em 3em 2em 3em ;}
	#main > .main > .image.main:first-child {margin: -4em 0 4em -3em;width: calc(100% + 6em);}
	#header {padding: 4em 3em 0.1em 3em ;}
	#header.alt {padding: 5em 3em 2em 3em ;}
	.spotlight {flex-direction: column-reverse;text-align: center;}
	.spotlight .content {flex: 0 1 auto;width: 100%;}
	.spotlight .content header.major h2:after {margin-left: auto;margin-right: auto;}
	.spotlight .content .actions {justify-content: center;width: calc(100% + 1em);}
	.spotlight .image {flex: 0 1 auto;margin-left: 0;margin-bottom: 2em;}

	.statistics li strong, .statistics li b {font-size: 1em;}
	.features li {width: calc(50% - 2em);}

	/* 차트 */
	.chart {position: absolute;display: inline-block;color: #999;font-size: 20px;text-align: center;left: 24.5%;top: -6.5%;transform: translateX(-50%);}

	.chart svg {position: absolute; top: 50%; left: 50%;display: inline-block;width: 200px;height: 200px;}

	.outer.on {display: block;fill: transparent; stroke-width: 20;stroke-dasharray: 534;
		transition: stroke-dashoffset 1s; }
	.outer{background-color: #f7f7f7; display: none;}

/* 포트폴리오 */
.statistics li .portfolio_wrap{position: fixed;display: none;z-index: 10000; width: 100%;height: 100vh;background: rgba(222, 222, 222, 0.8); left: 0;top: 0;}

.statistics li .portfolio_wrap .portfolio_inner{position: absolute;width: 80vw;height: 90vh;left: 50%; top: 50%;transform: translate(-50%, -50%);padding:0 5.1vw;background: #fff; text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center; border-radius: 20px;box-shadow: 3px 3px 8px rgba(222, 222, 222, 0.9);}

.statistics li .portfolio_wrap h3{z-index: 10002;position:absolute;font-size: 1.5em;line-height: 6;font-weight: bold;width: 100%;margin: 4vh auto;}
.statistics li .portfolio_wrap .portfolio_inner video{width: 100%;display: inline-block;margin:5vh auto 0;}
.statistics li .portfolio_wrap .portfolio_inner .inner_right{display: flex;flex-direction: column;margin-right: 5vw;justify-content: space-around; align-items: center;height: 35%;}

#portfolio .inner_right>.inner_tag>span{display: inline-block; padding: 0.52vw 1.04vh;border-radius: 10px; color: #fff; font-size: 0.5em;}
.inner_right>.inner_tag>span:nth-child(1){background: #efa8b0;}
.inner_right>.inner_tag>span:nth-child(2){background: #8cc9f0;}
.inner_right>.inner_tag>span:nth-child(3){background: #a89cc8;}
.inner_right>.inner_tag>span:nth-child(4){background: #e37682;}
.inner_right>.inner_tag>span:nth-child(5){background: #9bb2e1;}
.inner_right>.inner_tag>span:nth-child(6){background: #c79cc8;}

.statistics li .portfolio_wrap .portfolio_inner p, .statistics li .portfolio_wrap .portfolio_inner em,.statistics li .portfolio_wrap .portfolio_inner span{color: #636363; margin: 0;font-style: normal;}

.portfolio_wrap>a.inner_close{z-index: 10002;position: fixed;right: 15vw;top:10vh;color: #636363;text-decoration: none;font-weight: bold;cursor: pointer;}



#portfolio .portfolio_inner button.inner_git,#portfolio .portfolio_inner button.inner_link{font-size: 0.8em;border-radius: 20px;}


	


}
@media screen and (max-width: 736px) {
	
	h1 {font-size: 2em;}

	#footer{padding: 3em 2em 1em 2em;}
	#main > .main {padding: 3em 2em 1em 2em ;}
	#main > .main > .image.main:first-child {margin: -3em 0 2em -2em;width: calc(100% + 4em);}
	#nav {display: none;}
	#nav + #main {padding-top: 0;}
	#header {padding: 3em 2em 0.1em 2em ;}
	#header p {font-size: 1em;letter-spacing: 0;}
	#header p br {display: none;}
	#header.alt {	padding: 4em 2em 1em 2em ;}
	#header.alt h1 {font-size: 2.5em;}

	.spotlight .image {padding: 0.35em;}
	.spotlight .image img {width: 12em;}

	.statistics {display: block;width: 20em;max-width: 100%;margin: 0 auto 2em auto;}
	.statistics li:first-child {border-bottom-left-radius: 0;border-top-right-radius: 8px;	}
	.statistics li:last-child {	border-top-right-radius: 0;	border-bottom-left-radius: 8px;}
	.statistics li .icon:before {font-size: 3.75rem;}
	.statistics li strong, .statistics li b {font-size: 2em;}
	.features {width: 100%;	margin: 0 0 2em 0;}
	.features li {width: 100%;margin-left: 0;margin-top: 2em;}
	.features li:nth-child(2), .features li:nth-child(3) {margin-top: 2em;}

	header.major {margin-bottom: 0;}
	header.major h2 {font-size: 1.5em;}
	header.major p {font-size: 1em;letter-spacing: 0;}
	header.major p br {display: none;}
	footer.major {margin-top: 0;}
	.icon.major {margin: 0 0 1.5em 0;padding: 0.35em;}
	.icon.major:before {font-size: 3.5rem;}

	input[type="submit"],	input[type="reset"],	input[type="button"],	button,	.button {		min-width: 0;}

			/* 차트 */
			.chart {position: absolute;display: inline-block;color: #999;font-size: 20px;text-align: center;left: 33.3%;top: -7%;transform: translateX(-50%);}

			.chart svg {position: absolute; top: 50%; left: 50%;display: inline-block;width: 200px;height: 200px;}
		
			.outer.on {display: block;fill: transparent; stroke-width: 20;stroke-dasharray: 534;
				transition: stroke-dashoffset 1s; }
			.outer{background-color: #f7f7f7; display: none;}

}
@media screen and (max-width: 480px) {
	#wrap{max-width: calc(100% - 2em);}
	#footer{padding: 3em 1.5em 1em 1.5em;}
	#main > .main {padding: 3em 1.5em 1em 1.5em ;}
	#main > .main > .image.main:first-child {margin: -3em 0 1.5em -1.5em;width: calc(100% + 3em);}
	#header {padding: 3em 1.5em 0.1em 1.5em ;}
	#header.alt {padding: 4em 1.5em 1em 1.5em ;}

	ul.actions:not(.fixed){flex-direction: column;margin-left: 0;width: 100% !important;}

	ul.actions:not(.fixed) li {flex-grow: 1;flex-shrink: 1;padding: 1em 0 0 0;text-align: center;width: 100%;}

	ul.actions:not(.fixed) li > * {width: 100%;}

	ul.actions:not(.fixed) li:first-child {padding-top: 0;}

	ul.actions:not(.fixed) li input[type="submit"],	ul.actions:not(.fixed) li input[type="reset"],	ul.actions:not(.fixed) li input[type="button"],	ul.actions:not(.fixed) li button,	ul.actions:not(.fixed) li .button {width: 100%;}

	ul.actions:not(.fixed) li input[type="submit"].icon:before,	ul.actions:not(.fixed) li input[type="reset"].icon:before,	ul.actions:not(.fixed) li input[type="button"].icon:before,	ul.actions:not(.fixed) li button.icon:before,	ul.actions:not(.fixed) li .button.icon:before {margin-left: -0.5rem;}
	/* 차트 */
	.chart {position: absolute;display: inline-block;color: #999;font-size: 20px;text-align: center;left: 19.5%;top: -7%;transform: translateX(-50%);}

	.chart svg {position: absolute; top: 50%; left: 50%;display: inline-block;width: 200px;height: 200px;}

	.outer.on {display: block;fill: transparent; stroke-width: 20;stroke-dasharray: 534;
		transition: stroke-dashoffset 1s; }
	.outer{background-color: #f7f7f7; display: none;}

}


